<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--sprign整合mybatis-->
    <!--1：数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql:///ssm" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>

    <!--2：SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--<property name="typeAliasesPackage" value="com.itheima.ssm.pojo"></property>-->
        <!--<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>-->
        <!--<property name="mapperLocations">-->
            <!--<set>-->
                <!--<value>classpath:com/itheima/ssm/dao/*Dao.xml</value>-->
            <!--</set>-->
        <!--</property>-->
    </bean>

    <!--3：将Dao接口交给spring管理-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itheima.ssm.dao"></property>
    </bean>
</beans>